.mainHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 45px 0;
  margin-bottom: 90px;
}

.mainHeader .title {
  font-size: 25px;
  font-weight: 700;
}

.mainHeader nav a {
  margin-left: 35px;
  font-size: 18px;
  font-weight: 400;
}

.mainHeader nav a.linkActive {
  color: #004FEC;
}

.mainHeader nav a:first-child {
  margin-left: 0;
}
/*# sourceMappingURL=style.css.map */