.mainWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    height: 100hv;


    main {
        flex: 1 0 auto;
    }

    footer {
        margin-top: 100px;
    }
}