.mainWrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 1140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100hv;
}

.mainWrapper main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}

.mainWrapper footer {
  margin-top: 100px;
}
/*# sourceMappingURL=style.css.map */